<main>
  <h1 class="text-center text-uppercase text-title">Hello world</h1>
  <h2 class="text-end text-lowercase">Hello world</h2>
  <h3 class="text-capitalize">Hello world hello</h3>
  <hr>
  <div class="display-1 text-muted">Hello world</div>
  <div class="display-2">Hello world</div>
  <div class="display-3">Hello world</div>
  <div class="display-4">Hello world</div>
  <div class="display-5">Hello world</div>
  <div class="display-6">Hello world</div>
  <hr>
  <span class="text-muted">Колір сірий</span>
  <div class="text-muted text-end">
    Додатковий <span class="display-6">текст</span>
  </div>
  <hr>
  <button class="btn btn-primary">Test button</button>
  <button class="btn btn-secondary">
    <span class="text-uppercase">Button primary</span>
    <h1>Test</h1>
  </button>
  <a href="#" class="btn btn-link">
    <span class="text-uppercase">Button primary</span>
  </a>
  <a href="#" class="btn btn-primary">
    <span>Button primary</span>
  </a>
  <hr>
  <p class="text-primary">My text</p>
  <p class="text-secondary">My text</p>
  <p class="text-muted">My text</p>
  <p class="text-success">My text</p>
  <p class="text-danger">My text</p>
  <p class="text-warning">My text</p>
  <p class="text-info">My text</p>
  <p class="text-light">My text</p>
  <p class="text-dark">My text</p>
  <br>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-outline-primary">Test button outline</button>
      <button class="btn btn-outline-warning">Test button outline</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <button class="btn btn-secondary btn-lg">Додати</button>
      <button class="btn btn-outline-secondary">Редагувати</button>
      <button class="btn btn-outline-danger btn-sm">Видалити</button>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      This is content
    </div>
  </div>

  <div class="badge bg-primary text-wrap" style="width: 6rem;">
    This text should wrap.
  </div>

  <p class="fs-1">.fs-1 text</p>
  <p class="fs-2">.fs-2 text</p>
  <p class="fs-3">.fs-3 text</p>
  <p class="fs-4">.fs-4 text</p>
  <p class="fs-5">.fs-5 text</p>
  <p class="fs-6">.fs-6 text</p>

  <p class="fw-bold">Bold text.</p>
  <p class="fw-bolder">Bolder weight text (relative to the parent element).</p>
  <p class="fw-semibold">Semibold weight text.</p>
  <p class="fw-medium">Medium weight text.</p>
  <p class="fw-normal">Normal weight text.</p>
  <p class="fw-light">Light weight text.</p>
  <p class="fw-lighter">Lighter weight text (relative to the parent element).</p>
  <p class="fst-italic">Italic text.</p>
  <p class="fst-normal">Text with normal font style</p>
</main>