<main>
   <div class='container'>
      <section class='Lesson-1'>
         <h1 class='text-center text-uppercase text-title'>Hello world</h1class=>
         <h2 class='text-end text-lowercase'>Hello world</h2>
         <h3 class='text-capitalize'>Hello world hello</h3>
         <div class='display-1 text-muted'>Hello world</div>
         <div class='display-2'>Hello world</div>
         <div class='display-3'>Hello world</div>
         <div class='display-4'>Hello world</div>
         <div class='display-5'>Hello world</div>
         <div class='display-6'>Hello world</div>
         <hr />
         <span class='text-muted'>Колір сірий</span>
         <div class='text-muted text-end'>
            Додатковий
            <span class='display-6'>текст</span>
         </div>
         <hr />
         <button class='btn btn-primary'>Test button</button>
         <button class='btn btn-secondary'>
            <span class='text-uppercase'>Button primary</span>
            <h1>Test</h1>
         </button>
         <a href='#' class='btn btn-link'>
            <span class='text-uppercase'>Button primary</span>
         </a>
         <a href='#' class='btn btn-primary'>
            <span>Button primary</span>
         </a>
         <hr />
         <p class='text-primary'>My text</p>
         <p class='text-secondary'>My text</p>
         <p class='text-muted'>My text</p>
         <p class='text-success'>My text</p>
         <p class='text-danger'>My text</p>
         <p class='text-warning'>My text</p>
         <p class='text-info'>My text</p>
         <p class='text-light'>My text</p>
         <p class='text-dark'>My text</p>
         <br />
         <div class='card'>
            <div class='card-body'>
               <button class='btn btn-outline-primary'>Test
                  button outline</button>
               <button class='btn btn-outline-warning'>Test
                  button outline</button>
            </div>
         </div>
         <br />
         <div class='card'>
            <div class='card-body'>
               <button
                  class='btn btn-secondary btn-lg'
               >Додати</button>
               <button
                  class='btn btn-outline-secondary'
               >Редагувати</button>
               <button
                  class='btn btn-outline-danger btn-sm'
               >Видалити</button>
            </div>
         </div>
         <br />
         <div class='card'>
            <div class='card-body'>
               This is content
            </div>
         </div>

         <div
            class='badge bg-primary text-wrap'
            style='width: 6rem;'
         >
            This text should wrap.
         </div>

         <p class='fs-1'>.fs-1 text</p>
         <p class='fs-2'>.fs-2 text</p>
         <p class='fs-3'>.fs-3 text</p>
         <p class='fs-4'>.fs-4 text</p>
         <p class='fs-5'>.fs-5 text</p>
         <p class='fs-6'>.fs-6 text</p>

         <p class='fw-bold'>Bold text.</p>
         <p class='fw-bolder'>Bolder weight text (relative
            to the parent element).</p>
         <p class='fw-semibold'>Semibold weight text.</p>
         <p class='fw-medium'>Medium weight text.</p>
         <p class='fw-normal'>Normal weight text.</p>
         <p class='fw-light'>Light weight text.</p>
         <p class='fw-lighter'>Lighter weight text (relative
            to the parent element).</p>
         <p class='fst-italic'>Italic text.</p>
         <p class='fst-normal'>Text with normal font style</p>

         <hr />
      </section>
      <section class='lesson-2'>
         <div class='card card-size'>
            <img class='card-img-top' src='https://picsum.photos/400/200' alt='Product photo'/>
            <div class='card-body'>
               <h5 class='card-title'>Product #2736</h5>
               <p>Indesit OMTWSA51052W EU</p>
               <a href='/summary'
                  class='btn btn-primary'
               >Open</a>
            </div>
         </div>
         <div class='card text-bg-dark card-size'>
            <img
               class='card-img-top'
               src='https://picsum.photos/400/200'
               alt='Product photo'
            />
            <div class='card-body'>
               <h5
                  class='card-title text-bg-primary'
               >Product #2736</h5>
               <p class='text-bg-secondary'>Indesit
                  OMTWSA51052W EU</p>
               <a
                  href='/summary'
                  class='btn btn-primary'
               >Open</a>
            </div>
         </div>
         <br>
         <div class='list-group card-size'>
            <div class='list-group-item'>Item 1</div>
            <div class='list-group-item'>Item 2</div>
            <div class='list-group-item'>Item 3</div>
         </div>
         <br />
         <ul class='list-group card-size'>
            <li class='list-group-item'>
               <ul class='list-group'>
                  <li class='list-group-item'>Item 1.1</li>
                  <li class='list-group-item'>Item 1.2</li>
               </ul>
            </li>
            <li class='list-group-item'>Item 2</li>
            <li class='list-group-item'>Item 3</li>
         </ul>
         <br />
         <h5>Menu </h5>
         <ul class='list-group card-size'>
            <li class='list-group-item'>
               <a href='#' class='btn btn-link'>Home page</a>
            </li>
            <li class='list-group-item'>
               <a href='#' class='btn btn-link'>Summary page</a>
            </li>
            <li class='list-group-item'>
               <a href='#' class='btn btn-link'>Skills page</a>
            </li>
         </ul>
         <br />
         <div class='card card-size text-bg-primary'>
            <div class='card-header'>
               <h5>Menu</h5>
            </div>
            <ul class='list-group'>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Home page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Summary
                     page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Skills
                     page</a>
               </li>
            </ul>
            <div class='card-footer'>
               <button class='btn btn-dark btn-sm'>Update
                  list</button>
            </div>
         </div>
         <br />
         <div class='card card-size text-bg-primary'>
            <div class='card-header'>
               <h5>Menu</h5>
            </div>
            <ul class='list-group'>
               <li class='list-group-item text-bg-warning'>
                  <a href='#' class='btn btn-link'>Home page</a>
               </li>
               <li class='list-group-item text-bg-success'>
                  <a href='#' class='btn btn-link'>Summary
                     page</a>
               </li>
               <li class='list-group-item text-bg-dark'>
                  <a href='#' class='btn btn-link'>Skills
                     page</a>
               </li>
            </ul>
            <div class='card-footer'>
               <button class='btn btn-dark btn-sm'>Update
                  list</button>
            </div>
         </div>
         <br />
         <div class='card card-size'>
            <div class='card-header'>
               <h5>Menu</h5>
            </div>
            <ul class='list-group'>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Home page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Summary
                     page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Skills
                     page</a>
               </li>
            </ul>
            <div class='card-footer'>
               <button class='btn btn-dark btn-sm'>Update
                  list</button>
            </div>
         </div>
         <br />
         <table class='table table-striped card-size table-bordered text-bg-warning'>
            <thead>
               <tr>
                  <th>#id</th>
                  <th>name</th>
                  <th>age</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th>1</th>
                  <td>John</td>
                  <td>35</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
            </tbody>
         </table>
         <br />
         <table
            class='table table-striped card-size table-bordered'
         >
            <thead>
               <tr>
                  <th>#id</th>
                  <th>name</th>
                  <th>age</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <th>1</th>
                  <td>John</td>
                  <td>35</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
               <tr>
                  <th>2</th>
                  <td>Ivan</td>
                  <td>29</td>
               </tr>
            </tbody>
         </table>
         <br />
         <div class='card card-size text-bg-success'>
            <div class='card-header text-center'>Title</div>
            <div class='card-body text-center'>
               <h6 class='card-title'>This is title</h6>
               <p>This is content</p>
               <button class='btn btn-light'>Click</button>
            </div>
            <footer
               class='card-footer text-center'
            >Footer</footer>
         </div>
         <br />
         <div class='row g-3'>
            <div class='col-3'>
               <div class='card text-bg-warning'>
                  <div
                     class='card-header text-center'
                  >Title</div>
                  <div class='card-body text-center'>
                     <h6 class='card-title'>This is title</h6>
                     <p>This is content</p>
                     <button
                        class='btn btn-light'
                     >Click</button>
                  </div>
                  <footer
                     class='card-footer text-center'
                  >Footer</footer>
               </div>
            </div>
            <div class='col-3'>
               <div class='card text-bg-warning'>
                  <div
                     class='card-header text-center'
                  >Title</div>
                  <div class='card-body text-center'>
                     <h6 class='card-title'>This is title</h6>
                     <p>This is content</p>
                     <button
                        class='btn btn-light'
                     >Click</button>
                  </div>
                  <footer
                     class='card-footer text-center'
                  >Footer</footer>
               </div>
            </div>
            <div class='col-3'>
               <div class='card text-bg-warning'>
                  <div
                     class='card-header text-center'
                  >Title</div>
                  <div class='card-body text-center'>
                     <h6 class='card-title'>This is title</h6>
                     <p>This is content</p>
                     <button
                        class='btn btn-light'
                     >Click</button>
                  </div>
                  <footer
                     class='card-footer text-center'
                  >Footer</footer>
               </div>
            </div>
            <div class='col-3'>
               <div class='card text-bg-warning'>
                  <div
                     class='card-header text-center'
                  >Title</div>
                  <div class='card-body text-center'>
                     <h6 class='card-title'>This is title</h6>
                     <p>This is content</p>
                     <button
                        class='btn btn-light'
                     >Click</button>
                  </div>
                  <footer
                     class='card-footer text-center'
                  >Footer</footer>
               </div>
            </div>           
         </div>
      </section>
      <hr>
      <section class="row">
         <div class="col-8">
            <div class='card'>
               <img class='card-img-top' src='https://picsum.photos/400/200' alt='Product photo'/>
               <div class='card-body'>
                  <h5 class='card-title'>Product #2736</h5>
                  <p>Indesit OMTWSA51052W EU</p>
                  <a href='/summary'
                     class='btn btn-primary'
                  >Open</a>
               </div>
            </div>
         </div>
      </section>
      <section class="row">
         <div class="col-3">
            <h5>Menu </h5>
            <ul class='list-group'>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Home page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Summary page</a>
               </li>
               <li class='list-group-item'>
                  <a href='#' class='btn btn-link'>Skills page</a>
               </li>
            </ul>
         </div>
         <div class="col-5">
            <table class='table table-striped table-bordered text-bg-info col-3'>
               <thead>
                  <tr>
                     <th>#id</th>
                     <th>name</th>
                     <th>age</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th>1</th>
                     <td>John</td>
                     <td>35</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>Ivan</td>
                     <td>29</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>Ivan</td>
                     <td>29</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>Ivan</td>
                     <td>29</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </section>
      <section class="row">
         <div class='col-2'>
            <div class='card text-bg-warning'>
               <div class='card-header text-center'>Title</div>
               <div class='card-body text-center'>
                  <h6 class='card-title'>This is title</h6>
                  <p>This is content</p>
                  <button class='btn btn-light'>Click</button>
               </div>
               <footer class='card-footer text-center'>Footer</footer>
            </div>
         </div>
         <div class='col-2'>
            <div class='card text-bg-warning'>
               <div class='card-header text-center'>Title</div>
               <div class='card-body text-center'>
                  <h6 class='card-title'>This is title</h6>
                  <p>This is content</p>
                  <button class='btn btn-light'>Click</button>
               </div>
               <footer class='card-footer text-center'>Footer</footer>
            </div>
         </div>
         <div class='col-2'>
            <div class='card text-bg-warning'>
               <div class='card-header text-center'>Title</div>
               <div class='card-body text-center'>
                  <h6 class='card-title'>This is title</h6>
                  <p>This is content</p>
                  <button class='btn btn-light'>Click</button>
               </div>
               <footer class='card-footer text-center'>Footer</footer>
            </div>
         </div>
         <div class='col-2'>
            <div class='card text-bg-warning'>
               <div class='card-header text-center'>Title</div>
               <div class='card-body text-center'>
                  <h6 class='card-title'>This is title</h6>
                  <p>This is content</p>
                  <button class='btn btn-light'>Click</button>
               </div>
               <footer class='card-footer text-center'>Footer</footer>
            </div>
         </div>
      </section>
   </div>
</main>