<main>
   <div class='container'>
      <section class="lesson-css">
         <h2 class="text-bg-danger text-center mb-4">Підключення CSS</h2>
         <details open class="mb-4 fs-4">
            <summary class="fw-bold">Розкрити</summary>

            <h1>Hello world!</h1>

            {{> title data="My title"}}

            <h1 style="color: white; background: black;">This is text</h1>
            
            <div id="mytag">Test Js text</div>


         </details>
      </section>
   </div>
</main>