<div class="wrapper">
   <header class="header">
      <div class="container">
         <div class="row g-5">
            <div class="header__aside col-lg-4 sticky-lg-top vh-100">
               <div class="d-flex flex-column h-100 text-center overflow-auto
                  shadow">
                  <img class="w-100 img-fluid mb-4" src="/images/my-photo.png"
                     alt="Image">
                  <h1 class="text-white mt-2 mb-4 name">Volodymyr Babiichuk</h1>
                  <p class="text-white fs-5 text-bg-warning p-2">FullStack
                     Developer</p>
                  <p class="text-white fs-5 text-bg-primary p-2">Web Graphic
                     Designer</p>
                  <div class="d-flex justify-content-center mt-auto mb-2">
                     <a class="btn btn-secondary btn-square mx-2" href="#"><i
                           class="fab fa-twitter"></i></a>
                     <a class="btn btn-secondary btn-square mx-2" href="#"><i
                           class="fab fa-facebook-f"></i></a>
                     <a class="btn btn-secondary btn-square mx-2" href="#"><i
                           class="fab fa-linkedin-in"></i></a>
                     <a class="btn btn-secondary btn-square mx-2" href="#"><i
                           class="fab fa-instagram"></i></a>
                  </div>
                  <hr class="mb-4 header__aside-hr">
               </div>
            </div>
            <div class="header__content col-lg-8 text-white d-flex flex-column">
               <div class="card header__content-card mb-0">
                  <div class="card-body text-end">
                     <h2 class="title text-white header__content-title
                        text-white">
                        <div class="header__content-top">
                           <i class="fa-solid fa-house fa-lg"></i>
                           Resume Project
                        </div>
                     </h2>
                  </div>
               </div>
               <div class="card header__content-card mb-0">
                  <div class="card-body text-end">
                     <h2 class="title text-white header__content-title
                        text-white">
                        <div class="header__content-top">
                           <i class="fa-solid fa-circle-info fa-lg me-5"></i>
                           <p class="fs-5 text-start mb-0">
                              The purpose of the online store pet project is to
                              create an educational project that allows you to
                              practically learn different technologies and web
                              development tools, as well as to understand how
                              online stores are created and work.
                           </p>
                        </div>
                     </h2>
                  </div>
               </div>
               <div class="card header__content-card">
                  <div class="card-header header__content-list">
                     <h2 class="text-white text-center">List of pages</h2>                   
                  </div>
                  <div class="card-body text-end">
                     <div class="row">
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/summary" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Summary
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/skills" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Skills
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/education" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Education
                              </a>
                              
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/work" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Work
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/person" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Person
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/bio" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Bio
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/program" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Program
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/web" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Web
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/js" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Js
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/car" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Car
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/mac" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Mac
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/facebook" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Facebook
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/task22" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Task22
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/task21" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Task21
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/task31" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Task31
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/shophome" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shophome
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/shoporder" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shoporder
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/shopcart" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shopcart
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="/shopprofile" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shopprofile
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="/shopreview" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shopreview
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="/shopcatalog" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 Shopcatalog
                              </a>                            
                           </div>
                        </div>
                        <div class="col-3">
                           <div class="neon-button">
                              <a class="btn btn-neon btn-slow" href="#" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 ---
                              </a>
                              <a class="btn btn-neon btn-blue btn-normal" href="#" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 ---
                              </a>
                              <a class="btn btn-neon btn-purple btn-fast" href="#" target="_blank">
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 <span></span>
                                 ---
                              </a>                            
                           </div>
                        </div>                       
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>


   <main class="main">

   </main>
   <footer class="footer">

   </footer>
</div>