

<heder class="heder">
   
   <div class="hero-index">
      <div class="hand-animation">
         <div class="🤚">
            <div class="👉"></div>
            <div class="👉"></div>
            <div class="👉"></div>
            <div class="👉"></div>
            <div class="🌴"></div>
            <div class="👍"></div>
         </div>
      </div>
   </div>
</heder>
<main class="main">
</main>
<footer class="footer">

</footer>


{{!--
Цей код містить лише те, що буде виводитись в

<body>
   Адже наш layout/default.hbs має вже структуру HTML
   --}}