<div>
   {{#with main}}
   <main>
      <section class="summary">
         <hr class="mb-5">
         <div class="row gx-2">
            <div class="col-1"></div>
            <div class=" col-5 mb-4">
               {{> title data=summary.title big=true}}
               <div class="alert alert-warning fs-5" role="alert">
                  <div>
                     <p>
                        {{summary.text}}
                     </p>
                  </div>
               </div>
            </div>
            <div class="col-5">
               {{#with experience}}
               <div class="mb-5">{{> title data=title}}</div>
               <div class="alert alert-warning fs-5" role="alert">
                  <div>
                     <p>
                        {{text}}
                     </p>
                  </div>
               </div>
               {{/with}}
            </div>
         </div>
         <hr class="mb-4">
      </section>
   </main>
   {{/with}}
</div>