/* ===========task22=========== */
.header-title {
  margin-bottom: 25px;
}

.about,
.advantage {
  margin-bottom: 30px;
}

.about-subtitle {
  margin-bottom: 40px;
}

.advantage-title,
.agreement-title,
.about-sub {
  margin-bottom: 20px;
}

.advantage__card-1,
.advantage__card-2 {
  margin-bottom: 30px;
}

