/* ===========task22=========== */
.header-title {
  margin-bottom: 25px;
}

.about,
.advantage {
  margin-bottom: 30px;
}

.about-subtitle {
  margin-bottom: 40px;
}

.advantage-title,
.agreement-title,
.about-sub {
  margin-bottom: 20px;
}

.advantage__card-1,
.advantage__card-2 {
  margin-bottom: 30px;
}

.heading__card-1,
.heading__card-2,
.display__card {
  margin-bottom: 20px;
}

.heading,
.display {
  margin-bottom: 30px;
}

.paragraph button{
  text-decoration: none;
}





