html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

p {
  margin: 0;
}

img {
  vertical-align: top;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 32px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  /* padding: 0 10px; */
  margin: 0 auto;
}

/* ================================ */

h2 {
  margin-bottom: 15px;
}

footer em {
  color: #767676;
}

li {
  margin-bottom: 5px;
}

/* =============================== */

.person {
  background-color: rgb(255, 247, 237);
  padding: 15px;
  border-radius: 8px;
}

.about {
  display: flex;
}

.about__img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 40px;
}

.about__name {
  font-size: 30px;
}

.about__content span,
.experience span {
  display: block;
  margin-bottom: 8px;
  /* color: #757575; */
}

.about__content h1 {
  margin: 0 0 10px 0;
}

.education__title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.education__content li {
  list-style-type: none;
}
.education__content ul {
  padding-left: 25px;
}

.experience__inner {
  padding: 0 25px;
}

.experience__title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.experience__title img,
.education__title img,
.employee__members img,
.employee__members-down img {
  object-fit: cover;
}

.employee__title {
  display: flex;
  gap: 15px;
  align-items: center;
}

.employee__inner {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.employees img {
  border-radius: 10px;
}

.employees em {
  font-size: 17px;
  margin-bottom: 10px;
  display: block;
}

.employee-top h4 {
  margin: 0 0 8px 0;
}

.employee__members {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 15px 0 15px 0;
}

.employee__members span {
  margin-bottom: 5px;
}

.employee__members-top h4,
.employee__members-down h4 {
  margin: 0 0 6px 0;
}

.employee__members-down {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.bio .about img {
  height: 350px;
  width: 350px;
}

.publications__title,
.partners__title,
.awards__title,
.influences__title,
.discoveries__title,
.contributions__title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.publications__work span {
  display: block;
  margin-bottom: 4px;
}

.publications__work,
.partners__person,
.awards__text,
.discoveries__text,
.contributions__text {
  padding-left: 25px;
}

.quotes li {
  list-style-type: circle;
}

.blockquote {
  width: 520px;
  border-radius: 20px;
  background-color: #ffffed;
  padding: 1px 5px 1px 1px;
}