html {
  max-width: 720px;
}

body {
  margin: 32px;
  background: #fff;
}

main,
header,
footer,
nav {
  /* margin: 2px; */
}

section {
  /* padding: 16px; */
}

h2 {
  margin-bottom: 15px;
}

footer em {
  color: #767676;
}

li {
  margin-bottom: 5px;
}