{{!-- <nav>
   {{> link text="Summary" href="/summary" line=true}}
   {{> link text="Skills" href="/skills" line=true}}
   {{> link text="Education" href="/education" line=true}}
   {{> link text="Work" href="/work" line=true noLine=true}}
</nav> --}}

<nav class="breadcrumbs">
   <a href="http://localhost:3000/" title="Home" <i class="fa-solid fa-house-user"></i><span class="hidden">Home</span></a> &gt;
   <a href="/summary">Summary</a> &gt;
   <a href="/skills">Skills</a> &gt;
   <a href="/education">Education</a> &gt;
   <a href="/work">Work</a> &gt;
   <a href="/car">Car</a> &gt;
   <a href="/program">Program</a> &gt;
   <a href="/js">Js</a> &gt;
   <a href="/web">Web</a> &gt;
   <a href="/mac">Mac</a> &gt;
   <a href="/bio">Bio</a> &gt;
   <a href="/facebook">Facebook</a> &gt;
   <a href="/person">Person</a> &gt;
   <a href="/task21">Task21</a> &gt;
   <a href="/task22">Task22</a> &gt;
   <a href="/task31">Task31</a> &gt;
   <a href="/shophome">Shophome</a> &gt;
   <a href="/shoporder">Shoporder</a> &gt;
   <a href="/shopcart">Shopcart</a> &gt;
   <a href="/shopprofile">Shopprofile</a> &gt;
   <a href="/shopreview">Shopreview</a> &gt;
   <a href="/shopcatalog">Shopcatalog</a> &gt;
   
</nav>
