{{!-- <nav>
   {{> link text="Summary" href="/summary" line=true}}
   {{> link text="Skills" href="/skills" line=true}}
   {{> link text="Education" href="/education" line=true}}
   {{> link text="Work" href="/work" line=true noLine=true}}
</nav> --}}

<div class='nav p-3 pb-0'>
   <ul class='breadcrumb'>
      <li><a href='/summary' class='active'>Summary</a></li>
      <li><span>></span></li>
      <li><a href='/skills'>Skills</a></li>
      <li><span>></span></li>
      <li><a href='/education'>Education</a></li>
      <li><span>></span></li>
      <li><a href='/work'>Work</a></li>
      {{! <li><a href="/work" class="unique">Work</a></li> }}
   </ul>
</div>