{{!-- <nav>
   {{> link text="Summary" href="/summary" line=true}}
   {{> link text="Skills" href="/skills" line=true}}
   {{> link text="Education" href="/education" line=true}}
   {{> link text="Work" href="/work" line=true noLine=true}}
</nav> --}}

<ul class="breadcrumbs">
   <li>
      <a href='/summary' class='active'>Summary</a>
   </li>
   <li>
      <a href='/skills'>Skills</a>
   </li>
   <li>
      <a href='/education'>Education</a>
   </li>
   <li>
      <a href='/work'>Work</a>
   </li>
   <li>
      <a href='/car'>Car</a>
   </li>
   <li>
      <a href='/program'>Program</a>
   </li>
   <li>
      <a href='/js'>JS</a>
   </li>
   <li>
      <a href='/web'>Web</a>
   </li>
   <li>
      <a href='/mac'>Mac</a>
   </li>
   <li>
      <a href='/bio'>Bio</a>
   </li>
   <li>
      <a href='/facebook'>Facebook</a>
   </li>
   <li>
      <a href='/person'>Person</a>
   </li>
</ul>
<ul class="breadcrumbs">
   <li>
      <a href='/task21'>Task21</a>
   </li>
   <li>
      <a href='/task22'>Task22</a>
   </li>
   <li>
      <a href='/task31'>Task31</a>
   </li>
   <li>
      <a href='/shophome'>Shophome</a>
   </li>
   <li>
      <a href='/shoporder'>Shoporder</a>
   </li>
   <li class="red-arrow">
      <a href='/shopcart'>Shopcart</a>
   </li>
   <li class="red-arrow">
      <a href='/shopprofile'>Shopprofile</a>
   </li>
</ul>