<div class="row">
   <div class="col-12">
      <div class="card text-bg-dark">
         <div class="card-body">
            <h2 class="card-title">{{header}}</h2>
            <p>{{description}}</p>
            {{#each buttons}}
            <button class="btn btn-primary" href="{{link}}">{{text}}</button>
            {{/each}}
         </div>
      </div>
   </div>
</div>